.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem 0;
}

.pagination button {
    width: 40px;
    height: 40px;
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    margin: 0 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #343330;
    color: #eeeeee;
    
}

.pagination button.active {
    font-weight: 900;
    background: #eeeeee;
    color: #222831;
    border: 1px solid #222831 ;
}
